body

 {

    margin-left:60px;
    margin-top:50px;
 }

.b1
 {
  font-weight:bold;
  color:white;
  font-size:300%;
  text-shadow:5px 5px 2px black;
  margin-left:500px;
 }

.p1
 {
   color:white;
   font-size:100%;
   text-indent:50px
   text-align:left;
   
 }

.b2
 {
  text-decoration:underline;
  color:white;
  font-size:200%;
  font-weight:bold;

 }

.b3
 {
  text-decoration:underline;
  color:black;
  font-size:99%;
  font-weight:bold;

 }

.i1
 {
  



